{% extends "base.html.twig" %}

{% block body %}
	<h1>Sign up</h1>
	{{ form_start(form, {
		'attr': {'class': 'wiki-form'}
	}) }}
		{{ form_row(form.username) }}
		{{ form_row(form.password) }}
		<button type="submit">Submit</button>
	{{ form_end(form) }}
{% endblock %}